
<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Editer Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
        </li>
        <li>
            <a href="{{ path('factures') }}">Mes factures</a>
        </li>

        <li>
            <a href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
        </li>
    </ul>
</div>
