{% extends "::layout/layout.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}

{% set totalTVA = 0 %}

 {% set aa=0 %}
{% set refTva = {} %}

{% set ttcTva={} %}
{% for produit in produits %}
    {% set ttcTva = ttcTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}


{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="span3">
                {% include '::modulesUser/navigation.html.twig' %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/UtilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/Utilisateurs.html.twig' %}
                {% endif %}
                {% render(controller('EcommerceBundle:Panier:menu')) %}


            </div>
            <div class="span9">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <h2>Votre panier</h2>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Références</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total HT</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if produits|length == 0 %}
                            <tr>
                                <td colspan="4">
                                    <font color="#f08080"><center>Aucun article dans votre panier</center></font>
                                </td>
                            </tr>
                        {% endif %}


                        {% for produit in produits %}
                        <tr>
                            <td>{{  produit.nom }}</td>
                            <td>
                                <form action="{{ path('ajouter',{'id' : produit.id}) }}" method="get">
                                <select class="span1" name="qte" onchange="this.form.submit()">
                                   {% for i in 1..produit.qte %}
                                       <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                   {% endfor %}
                                </select>&nbsp;
                                <a href="{{ path('supprimer', {'id' : produit.id}) }}"><i class="icon-trash"></i></a>
                                </form>
                            </td>
                            <td>{{ produit.prix }} DT</td>
                            <td>{{ produit.prix * panier[produit.id] }} DT</td>
                        </tr>

                            {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}

                            {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + (produit.prix * panier[produit.id])|montantTva(produit.tva.multiplicate)}) %}


                            {% set totalTVA = totalHT %}
                            {% for key, tva in refTva %}
                                {% set totalTVA = (totalTVA + tva) %}
                            {% endfor %}

                            {% set aa = totalTVA %}

                        {% endfor %}
                        </tbody>
                    </table>
                    {% if produits|length != 0 %}



                <dl class="dl-horizontal pull-right">
                    <dt><font color="#228b22">Total HT :</font></dt><dd>{{ totalHT }} DT</dd>

                    {% for key, tva in  refTva %}
                        <dt><font color="#228b22">TVA  {{ key }} :</font></dt><dd>{{ tva }} DT</dd>
                    {% endfor %}

                    <dt><font color="#228b22">Total TTC:</font></dt><dd>{{ totalTVA }} DT</dd>
                </dl>
                <div class="clearfix"></div>
                <a href="{{ path('livraison') }}" class="btn btn-success pull-right " > Valider mon panier</a>
                {% endif %}
                <a href="{{ path('produits') }}" class="btn btn-info">Continuer mes achats</a>

        </div>
    </div>
{% endblock %}