<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Panier</li>

        <li>
<a href="{{ path('panier') }}">
    {% if articles == 0 %}
    Aucun articles dans votre panier
    {% elseif articles ==1 %}
    1article dans votre panier
{% else %}
    {{ articles }} articles dans votre panier
    {% endif %}
</a>        </li>

    </ul>
</div>