{% extends "::layout/layout.html.twig" %}
{% block body %}
<div class="container">

    <div class="row">

        <div class="span3">
            {% include '::modulesUser/navigation.html.twig' %}

            {% include 'UtilisateursBundle:Default:modulesUsed/UtilisateursConnecte.html.twig' %}
            {% render(controller('EcommerceBundle:Panier:menu')) %}


        </div>
        <div class="span9">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-errors">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <h2><font color="green"> Factures</font></h2>
            <li class="thumbnail">
                <div>
           <form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Date</th>
                        <th>Prix TTC</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if factures|length==0 %}
                    <tr>
                        <td>
                            <center>
                                Aucunne facture actuellement.
                            </center>
                        </td>
                    </tr>
                    {% endif %}
                  {% for facture in factures %}
                    <tr>
                        <td>Ref : {{ facture.reference }}</td>
                        <td>{{ facture.date|date('d/m/y') }}</td>
                        <td>{{ facture.commande.prixTTC }} DT</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </form>
                </div>
            </li>

        </div>

    </div>
</div>
{% endblock %}